force-app/main/default/flows/Opportunity_Email_Notification_to_SE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>All_GeoSpatial_Alert</name>
        <label>All GeoSpatial Alert</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.GeoSpatial_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DevSecOps_Alert</name>
        <label>DevSecOps Alert</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.DevSecOps_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GeoShield_Alert</name>
        <label>GeoShield Alert</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.GeoShield_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IT_Infra_Alert</name>
        <label>IT Infra Alert</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.IT_Infra_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MACS_Alert</name>
        <label>MACS Alert</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.MACS_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risk_Center_Alert</name>
        <label>Risk Center Alert</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Risk_Center_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Salesforce_Alert</name>
        <label>Salesforce Alert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Saleforce_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SAP_Alert</name>
        <label>SAP Alert</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.SAP_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Spatialitics_Health_Alert</name>
        <label>Spatialitics Health Alert</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Spatialitics_Health_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Spatialitics_Utilities_Alert</name>
        <label>Spatialitics Utilities Alert</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Spatialitics_Utilities_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check if the CyberTech Solution on the opportunity</description>
        <name>Opportunity_Detection</name>
        <label>Opportunity Detection</label>
        <locationX>1370</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesForce.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_Alert</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
        <rules>
            <name>SAP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP Business Suite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP Cloud Migration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP Analytics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Alert</targetReference>
            </connector>
            <label>SAP</label>
        </rules>
        <rules>
            <name>MACS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MACS_Alert</targetReference>
            </connector>
            <label>MACS</label>
        </rules>
        <rules>
            <name>DevSecOps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DevSecOps_Alert</targetReference>
            </connector>
            <label>DevSecOps</label>
        </rules>
        <rules>
            <name>GeoShield</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeoShield</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeoShield_Alert</targetReference>
            </connector>
            <label>GeoShield</label>
        </rules>
        <rules>
            <name>Spatialitics_Utilities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spatialitics Utilities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spatialitics_Utilities_Alert</targetReference>
            </connector>
            <label>Spatialitics Utilities</label>
        </rules>
        <rules>
            <name>Spatialitics_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spatialitics Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spatialitics_Health_Alert</targetReference>
            </connector>
            <label>Spatialitics Health</label>
        </rules>
        <rules>
            <name>IT_Infra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Infra_Alert</targetReference>
            </connector>
            <label>IT Infra</label>
        </rules>
        <rules>
            <name>All_GeoSpatial_Projects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geospatial Projects</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_GeoSpatial_Alert</targetReference>
            </connector>
            <label>All GeoSpatial Projects</label>
        </rules>
        <rules>
            <name>Risk_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CyberTech_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Center_Alert</targetReference>
            </connector>
            <label>Risk Center</label>
        </rules>
    </decisions>
    <description>Email notification to Solution Engineers about opportunity creation</description>
    <interviewLabel>Opportunity Email Notification to SE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Email Notification to SE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Detection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CyberTech_Solution__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
